body {
  font-family: 'Open sans';
}

.box {
  border-radius: 1em;
  margin-right: 2em;
  padding: 0.5em;
  box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);
}

.page-wrapper {
  padding: 4em 1em;
  display: flex;
  flex-direction: row;
}

.top-bar {
  position: fixed;
  width: 100%;
  background: #111;
  color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);
}

.item-detail {
  position: fixed;
  background: rgba(1, 11, 1, 0.5);
  color: white;
  width: 15em;
  .item-title {
    text-align: center;
    margin-bottom: 1em;
  }
  .item-picture {
    img {
      width: 100%;
      margin: auto;
      background: black;
      border-radius: 1em;
    }
  }
}
