.layout {
  display: flex;
  flex-direction: row;
  .side-menu {
    flex: none;
    display: flex;
    flex-direction: column;

    .menu-item {
      padding: 0.2em 0.5em
    }
  }
  .content-wrapper {
    flex: none;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background: rgba(0,0,0,0.9);
    background: url('../images/mhw-forge.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
  }
}
