.layout {
  display: flex;
  flex-direction: row;
  .side-menu {
    font-family: 'Goblin hand';
    text-align: center;
    flex: none;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);
    z-index: 1;
    .main-logo {
      width: 5em;
      margin: auto;
      margin-top: 1em;
      margin-bottom: 1.5em;
    }
    .menu-item {
      padding: 0.2em 1em;
      font-size: 1.2em;
      text-decoration: none;
      color: #333;
      &:hover {
        background: #333;
        color: white;
      }
    }
  }
  .content-wrapper {
    flex: none;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background: url('../images/mhw-bg-clear.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
    position: relative;
  }
}
