.weapons-page {
  .weapons-page-wrapper {
    padding: 4em 1em;
    display: flex;
    flex-direction: row;
  }
  .weapons-pane {
    background: rgba(0,0,0,0.7);
    border-radius: 1em;
    margin-right: 2em;
    padding: 0.5em;
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);

  }
  .weapon-types {
    position: fixed;
    width: 100%;
    background: #111;
    color: white;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);
    .weapon-type {
      cursor: pointer;
      padding: 0.2em 0.5em;
      font-size: 1.2em;
      img {
        width: 2em;
      }
      &:hover, &.active {
        color: #222;
        background: white;
      }
    }
  }
  .weapon-family {
    display: flex;
    flex-direction: row;
  }
  .weapon-thumb {
    img {
      border: 2px solid #181b1e;
      width: 2.5em;
      height: 2.5em;
      margin-right: 0.5em;
      background: #030307;
      border-radius: 0.3em;
      cursor: pointer;
      &:hover, &.active {
        border: 2px solid white;
      }
    }
  }
}
.selected-weapon-pane {
  position: relative;
}
.weapon-detail {
  position: fixed;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);

  .weapon-picture {
    img {
      background: black;
      border-radius: 1em;
    }
  }
}
