.weapons-page {
  background: rgba(0,0,0,0.9);
  background: url('../images/mhw-forge.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  .weapons-page-wrapper {
    padding: 1em;
    display: flex;
    flex-direction: row;
  }
  .weapons-pane {
    background: rgba(0,0,0,0.7);
    border-radius: 1em;
    margin-right: 1em;
    padding: 0.5em;
    box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);

  }
  .weapon-types {
    background: black;
    color: white;
    .weapon-type {
      cursor: pointer;
      padding: 0.2em 0.5em;
      font-size: 1.2em;
      &:hover {
        color: black;
        background: white;
      }
    }
  }
  .weapon-family {
    display: flex;
    flex-direction: row;
  }
  .weapon-thumb {
    img {
      border: 2px solid #181b1e;
      width: 2.5em;
      height: 2.5em;
      margin-right: 0.5em;
      background: #030307;
      border-radius: 0.3em;
      cursor: pointer;
      &:hover, &.active {
        border: 2px solid white;
      }
    }
  }
}

.weapon-detail {
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  box-shadow: 3px 4px 6px -1px rgba(0,0,0,0.65);

  .weapon-picture {
    img {
      background: black;
      border-radius: 1em;
    }
  }
}
